@model ResaleDashboardMVC.Models.SaleDetail

@{
    ViewBag.Title = "Details";
}

<h2>Sale Details</h2>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlatformID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Profit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profit)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SaleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


