<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Resale Dashboard</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*@RenderSection("Styles", false)*@
</head>   
<body>
    <h1>Resale Dashboard - Simplified Sales Tracking</h1>
    <div class="header">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <nav>
                <div class="container">

                    @*<div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("Resale Dashboard", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>*@
                </div>
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Inventory", "Index", "Inventory")</li>
                        <li>@Html.ActionLink("Platform", "Index", "Platform")</li>
                        <li>@Html.ActionLink("Sales", "Index", "Sale")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Resale Dashboard</p>
        </footer>
    </div>
</body>
</html>
